@page "/tipos"

<h3>Mantenimiento de tipos de documentos</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo Tipo de Documento</a>
</div>

<GenericList MyList="LTipos">
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>País</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in LTipos!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>
                            @*Insertamos dos botones el de editar como un link porque nos debe de llevar a otra pagina y el de Borrar como boton porque solo tiene que ejecutar un comando*@
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>