<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation" />

@* Al EditForm se le pasan como parametros editContext y OnValidSubmit definidos en la clase, el OnValidSubmit no se definio en la clase porque nos lo van a pasar como parametro *@
<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    @*Para que salgan los mensajes que creamos en las entidades agregamos una DataAnnotationsValidator*@
    <DataAnnotationsValidator />
    @*Por cada dato en el formulario vamos a crear un div*@
    <div class="mb-3">
        <label>Tipo de documento</label>
        <div>
            <InputText class="form-control" @bind-Value="@Tipo.Name" />
            <ValidationMessage For="@(() => Tipo.Name)" />
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Guardar Cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>
</EditForm>